.intro-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 380px;
}

.about__marketplace,
.about__guarantee,
.about__calendar,
.about__travel {
  display: block;
  width: 185px;
  height: 185px;
}
