.intro-title {
  position: relative;
  margin-top: 160px;
}

.intro-title__text {
  display: none;
}

.intro-title__text-original {
  text-align: center;

  &--title {
    font-size: 35px;
    line-height: 35px;
    font-family: $font-secondary;
    text-transform: uppercase;
    background: linear-gradient(270deg, rgba(255,63,4,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--description {
    font-size: 16px;
    line-height: 16px;
    font-family: $font-primary;
    background: linear-gradient(270deg, rgba(255,63,4,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.intro-title__button {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 162px;
  padding: 10px 23px;
  font-family: $font-small;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid transparent;
  border-image: linear-gradient(12deg, rgba(35,89,156,1) 0%, rgba(14,31,45,1) 40%, rgba(14,31,45,1) 60%, rgba(35,89,156,1) 100%);
  border-image-slice: 1;
  background-color: rgba(22, 21, 29, 0.5);
  color: #ffffff;

  &::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url("../img/conor.png");
    background-repeat: no-repeat;
    left: -4px;
    bottom: -16px;
    transform: rotate(180deg);
  }

  &::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url("../img/conor.png");
    background-repeat: no-repeat;
    right: -4px;
    top: -16px;
  }
}

@media (min-width: $tablet-width) {

  .intro-title {
    margin-top: 116px;
  }

  .intro-title__text {
    display: none;
  }

  .intro-title__text-original {
    text-align: unset;

    &--title {
      font-size: 48px;
      line-height: 48px;
    }

    &--description {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .intro-title__button {
    display: inline-block;
    width: auto;
    margin-top: 70px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: $desctop-width) {

  .intro-title {

    &::after {
      position: absolute;
      content: "";
      width: 443px;
      height: 58px;
      background-image: url("../img/line.png");
      background-repeat: no-repeat;
      left: 146px;
      bottom: 70px;
    }
  }

  .intro-title__text-original {
    display: none;
  }

  .intro-title__text {
    display: block;
    width: 430px;
    height: 76px;
    background-image: url("../img/title.png");
    background-repeat: no-repeat;
  }

  .intro-title__button {
    margin-top: 87px;
    padding: 10px 23px;
  }
}
