$font-primary: "MuseoSansCyrl-300", "Arial", sans-serif;
$font-secondary: "MuseoSansCyrl-700", "Arial", sans-serif;
$font-small: "MuseoSansCyrl-100", "Arial", sans-serif;
$color-base: #ffffff;
$tablet-width: 768px;
$desctop-width: 1200px;
